.container {
  width: 80%; /* Set the width */
  margin: auto;
  padding: 10px;
  text-align: left; /* Align text to the left */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Add margin between sections */
}

.container div input[type="email"],
.container div input[type="text"],
.container div input[type="password"] {
  width: 100%; /* Set input width to 100% */
}

label {
  display: block;
  text-align: right; /* Align labels to the right */
}

h1, h2 {
  direction: rtl;
}

form {
  display: flex;
  flex-direction: column;
}

.active-options,
.gender-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gender-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 5px; /* Adjust spacing between icon and label */
}

button {
  margin-top: 20px;
}
